<h3>Self Staffing Skills Input</h3>
<div class="grid grid-pad">
  <a *ngFor="let skill of skills" class="col-1-4">
  <!-- <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4"> -->
    <div class="module skill">
      <h4>
      	<div><span>{{skill.name}}</span><span class="toast">{{skill.ranking}}</span></div>
      	<div class="adjust-ranking">
      		<span (click)="decrementSkill(skill.id)">-</span>
      		<span (click)="incrementSkill(skill.id)">+</span>
  		</div>
  	  </h4>
    </div>
  </a>
</div>
<!-- <hero-search></hero-search> -->